<div class="col-md-8 main-content">
                <div class="clearfix"></div>
        <div class="row select-category">
            <div class="col-md-6 col-xs-6 current-category">
                <span>All Questions</span>
            </div>
            <div class="col-md-6 col-xs-6">
                	    <div class="select-categories-wrapper">
	        <div class="select-categories">
	            <select name="cat" id="move_to_category" class="select-grey-bg">
	<option value="0" selected="selected">Filter by category</option>
	<option class="level-0" value="http://www.enginethemes.com/demo/qaengine/blog/question-category/accessories/">Accessories</option>
</select>
	        </div>
	    </div>
		            </div>
        </div><!-- END SELECT-CATEGORY -->
        		<div class="row q-filter-waypoints collapse" id="q_filter_waypoints" style="display: none;">
			<div class="col-md-2 col-xs-2">
				<button type="button" data-toggle="modal" class="action ask-question" data-target="#modal_submit_questions">
	                <i class="fa fa-plus"></i> 我要提问           </button>
			</div>
			<div class="col-md-8 col-sm-10 col-xs-10">
				<div class="row">
					<div class="col-md-2 hidden-xs hidden-sm">
												<span class="q-f-title">
							All Questions						</span>
											</div><!-- END TITLE -->
					<div class="col-md-5 col-sm-6 col-xs-6">
						<ul class="q-f-sort">
		                    <li>
		                        <a class="active" href="{% static 'css/问答系统.html">
		                        	Latest		                        </a>
		                    </li>
		                    <li>
		                        <a class="" href="http://www.enginethemes.com/demo/qaengine/?sort=vote">
		                        	Votes		                        </a>
		                    </li>
		                    <li>
		                        <a class="" href="http://www.enginethemes.com/demo/qaengine/?sort=unanswer">
		                        	Unanswered		                        </a>
		                    </li>
		                    		                </ul><!-- END FILTER -->
					</div>
					<div class="col-md-5 col-sm-6 col-xs-6 categories-wrapper">
						<div class="select-categories-wrapper">
		                    <div class="select-categories">
		                        <select class="select-grey-bg" id="move_to_category">
		                            <option>Filter by category</option>
                            		<option value="http://www.enginethemes.com/demo/qaengine/blog/question-category/technology/">Technology	</option>
									<option value="http://www.enginethemes.com/demo/qaengine/blog/question-category/science/">Science	</option>
				                    </select>
		                    </div>
		                </div><!-- END SELECT CATEGORIES -->
                        <div class="number-of-questions-wrapper">
                            <div class="number-of-questions">
                                <select id="filter-numbers" class="select-grey-bg">
                                                                        <option value="http://www.enginethemes.com/demo/qaengine/?numbers=20">20</option>
                                                                        <option value="http://www.enginethemes.com/demo/qaengine/?numbers=15">15</option>
                                                                        <option selected="" value="http://www.enginethemes.com/demo/qaengine/?numbers=12">12</option>
                                                                        <option value="http://www.enginethemes.com/demo/qaengine/?numbers=10">10</option>
                                                                        <option value="http://www.enginethemes.com/demo/qaengine/?numbers=5">5</option>
                                                                    </select>
                            </div>
                        </div><!-- END POSTS PER PAGE -->
					</div>
				</div>
			</div>
		</div>
        <div class="row question-filter" id="question_filter">
            <div class="col-md-6 col-xs-6 sort-questions">
                <ul>
                    <li>
                        <a class="active" href="{% static 'css/问答系统.html">
                        	Latest                        </a>
                    </li>
                    <li>
                        <a class="" href="http://www.enginethemes.com/demo/qaengine/?sort=vote">Votes</a>
                    </li>
                    <li>
                    	                        <a class="" href="http://www.enginethemes.com/demo/qaengine/?sort=unanswer">Unanswered</a>
                    </li>
                                    </ul>
            </div>
            <div class="col-md-6 col-xs-6">
                <div class="number-of-questions-wrapper">
                	<span class="number-of-questions-text">Questions Per Page: </span>
                 	<div class="number-of-questions">
                        <select id="filter-numbers" class="select-grey-bg">
							                            <option value="http://www.enginethemes.com/demo/qaengine/?numbers=20">20</option>
							                            <option value="http://www.enginethemes.com/demo/qaengine/?numbers=15">15</option>
							                            <option selected="" value="http://www.enginethemes.com/demo/qaengine/?numbers=12">12</option>
							                            <option value="http://www.enginethemes.com/demo/qaengine/?numbers=10">10</option>
							                            <option value="http://www.enginethemes.com/demo/qaengine/?numbers=5">5</option>
							                        </select>
                    </div>
                </div>
            </div>
        </div><!-- END QUESTIONS-FILTER -->
        <div class="main-questions-list">
            <ul id="main_questions_list">
           
                <li class="question-item post-188 question type-question status-publish hentry question_category-technology qa_tag-apps qa_tag-business-2 qa_tag-glass qa_tag-google qa_tag-technology-2" data-id="188">
            	
        
    <div class="col-md-8 col-xs-8 q-left-content">
        <div class="q-ltop-content">
            <h2>
            <!--移除硬编码的urls /ask/{{ question.id }} -->
                <a href="#" class="question-title" target="blank">qqq</a>
            </h2>
        </div>
        <div class="q-lbtm-content">
            <div class="question-excerpt">
                <p>qqqq</p>
            </div>
            <div class="question-cat">
                <ul class="question-tags">
                    <li><a class="q-tag" href="#">apps</a></li>
                    <li><a class="q-tag" href="#">business</a></li>
                    <li><a class="q-tag" href="#">glass</a></li>
                </ul>
                <div class="clearfix"></div>
                <a href="#">
                    <span class="author-avatar">
                        <img src="{% static 'img/12.jpg' %}" class="avatar" alt="">                    </span>
                    <span class="author-name">qqqq</span>
                </a>
                <span title="1517" class="user-badge" style="background-color:#780978;">Professor</span>                <span class="question-time">
                    qqqq             </span>
                <span class="question-category">
                                    <a href="#">Technology.</a>
                                </span>            </div>
        </div>
    </div><!-- end left content -->
    <div class="col-md-4 col-xs-4 q-right-content">
        <ul class="question-statistic">
            <li><span class="question-views">60</span>views</li>
            <li class="active"><span class="question-answers">3</span>answers</li>
            <li><span class="question-votes">0</span>votes</li>
        </ul>
    </div><!-- end right content -->
				</li>
	



</ul>
        </div><!-- END MAIN-QUESTIONS-LIST -->
        <div class="row paginations home">
            <div class="col-md-12">
                <ul class="page-numbers">
	<li><span class="page-numbers current">1</span></li>
	<li><a class="page-numbers" href="http://www.enginethemes.com/demo/qaengine/page/2/">2</a></li>
	<li><a class="next page-numbers" href="http://www.enginethemes.com/demo/qaengine/page/2/">&gt;</a></li>
</ul>
            </div>
        </div><!-- END MAIN-PAGINATIONS -->
        <div class="clearfix"></div>
            </div>