<!--首先引入base.html -->
{% extends "qa/base.html" %}

{% load staticfiles %}

{% block main %}
    
<!--引入head.html -->
    {% include "qa/head.html" %}
<!--head.html结束 -->

<!--左侧left.html -->
    {% include "qa/left.html" %}
<!--left.html结束 -->



<!--变动区代码 -->
<div class="col-md-8 main-content">
        <div class="row select-category">
            <div class="col-md-6 col-xs-6 current-category">
                <span>所有用户</span>
            </div>
            <div class="col-md-6 col-xs-6 select-categories input-find-tags">
                <form class="form-input-search" autocomplete="off" method="GET" action="saved_resource.html">
                    <input autocomplete="off" type="text" name="ukey" id="ukey" value="" class="search-users" placeholder="Find Users">
                    <i class="fa fa-chevron-circle-right"></i>
                </form>
            </div>
        </div><!-- END SELECT-CATEGORY -->
        <div class="row question-filter">
            <div class="col-md-6 col-xs-6 sort-questions">
                <ul>
                    <li>
                        <a class="active" href="saved_resource.html">Name</a>
                    </li>
                    <li>
                        <a class="" href="#">Points</a>
                    </li>
                </ul>
            </div>
        </div><!-- END QUESTIONS-FILTER -->
        <div class="main-user-list">
            <ul id="main_users_list" class="row">
            {% if user_all %}
                {% for user in user_all %}
                    <li class="user-item col-md-4 col-xs-6">
                    <span class="user-avatar"><img src="{{ MEDIA_URL }}{{ user.avatar }}" class="avatar" alt=""></span>
                    <div class="left-info">
                        <a href="{% url 'qa:user_center' user.username %}" target="blank"><span class="display_name">{{ user.username }}</span></a><br>
                        <span class="location">
                            <i class="fa fa-map-marker"></i> Earth                        </span>
                        <div class="question-cat">
                            <span title="525" class="user-badge" style="background-color:#ffbf00;">小白</span>                            <span class="points">{{ user.points }} 分</span>
                        </div>
                    </div>
                </li>
                {% endfor %}
            {% endif %}



 


                            </ul>
        </div><!-- END MAIN-QUESTIONS-LIST -->
        <div class="clearfix grey-line"></div>
        <div class="row paginations home">
            <div class="col-md-12">
                            </div>
        </div><!-- END MAIN-PAGINATIONS -->
    </div>
<!--变动区代码结束 -->

<!--右侧right.html -->
    {% include "qa/right.html" %}
<!--right.html结束 -->

{% endblock main %}